<!DOCTYPE html>
<html>
<head>
	<title>Io chat</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/views/style.css ">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="container">
	<div id="userFormArea" class="row">
		<div class="col-md-12">
			<form id="userForm">
				<div class="form-group">
					<label>username</label>
					<textarea class="form-control" id="username"></textarea><br />
					<input type="submit" class="btn btn-primary" value="login" />
				</div>
			</form> 
		</div>
	</div> 

	<div id="messageArea" class="row">
		<div class="col-md-4">
			<div class="well">
				<h3>online Users</h3>
				<ul class ='list-group' id="users"></ul> 

			</div>
		</div>
		<div class="col-md-8">
			<div class="chat" id="chat"></div>
				<form id="messForm">
				<div class="form-group">
					<label>Enter Message</label>
					<textarea class="form-control" id="message"></textarea><br />
					<input type="submit" class="btn btn-primary" value="Send Message" />
				</div>
			</form> 
		</div>
	</div>
</div>
<script src="/views/app.js">
</script>

</body>
</html>
